<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{hocsinh.ho}} {{hocsinh.ten}} </h1>
    <h2>Information about him</h2>
    <ul>
        <li><b>Họ: </b>{{hocsinh.ho}}</li>
        <li><b>Tên: </b>{{hocsinh.ten}}</li>
        <li><b>Codeforces id: </b>{{hocsinh.codeforces_id}}</li>
        <li><b>Organisation: </b>{{hocsinh.org}} </li>
    </ul>
    <a href='/'>Quay lại trang chủ</a>
</body>
</html>